{% extends 'base.html.twig' %}

{% block title %}Ma Todo Liste{% endblock %}
 <div class="topnav" id="myTopnav">
        <a href="{{asset(accueil)}}" class="active">Accueil</a>
        <a href="{{asset(todolist)}}">Todolist</a>
    </div>
    
{% block body %}
   

{% endblock %}
