{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}

    
    <table>
    <tr>
        <th>Nom de la categorie</th>
        <th>Image</th>
    </tr>

    
        {% for category in categories %}
        <tr>
            <td class="title">{{ category.name }}</td>
            <td class="image">
            <img src="{{ asset('uploads/image/'~category.image) }}" alt="">
            </td>
        </tr>
        {% endfor %}
    

    </table>
    

{% endblock %}
