{{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class':'form-control'}, 'label':'Titre :' })}}
    {{ form_row(form.content, {'attr':{'class' : 'form-control'}, 'label': 'Contenu'})}}
    

    
    <button type="submit">Soumettre</button>
{{ form_end(form) }}